body {
    padding-top: 2rem;
}

#place {
    padding-bottom: 1000px;
}

/* .card {
    padding: 20px;
    background-color: rgba(34, 34, 62, 0.5);
    border: 1px solid #d51fd5;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #4d2fe5, #d51fd5, #fb767c);
    color: white;
    margin: 20px 10px 20px 0;
}

.list-group-item {
    color: white;
    padding: 10px;
    background-color: rgba(91, 14, 126, 0);
    border: 1px solid #d51fd5;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #4d2fe5, #d51fd5, #fb767c);
}

.input {
    padding: 20px 0 10px 0;
}

.w100 {
    padding: 10px 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #d51fd5;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #4d2fe5, #d51fd5, #fb767c);
    width: 70%;
    color: white;
}

button {
    margin: 20px 70px 0 70px;
}

.btn {
    background-color: rgba(34, 34, 62, 0.5);
    border: 1px solid #d51fd5;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #4d2fe5, #d51fd5, #fb767c);
    color: white;
} */